* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* body {
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
} */
/* _____________________________________________________menu */
.nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 150px;
	/* position: fixed; */
	line-height: 65px;
	background-color: #ffbe00;
}

.ContImgMenu {
	width: 33%;
}

.logoImg {
	height: 145px;
	width: 430px;
	display: flex;
}
.buscador {
	display: flex;
	/* width: 55%; */
	justify-content: start;
	align-items: center;
}

.menu {
	width: 33%;
	text-decoration: none;
	padding: 10px;
	display: flex;
	align-items: center;
}
.navTrigger {
	cursor: pointer;
	width: 30px;
	height: 25px;
	margin: auto;
	position: absolute;
	right: 30px;
	top: 0;
	bottom: 0;
}
.imgMenu {
	width: 60px;
	height: 60px;
	margin-right: 20px;
}
.navlinks {
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 100%;
}
.itemMenu {
	width: 130px;
	padding: 10px;
}

.itemMenu a {
	text-decoration: none;
	color: #000000;
	line-height: 30px;
	font-size: 20px;
	font-weight: 800;
}

.navTrigger {
	cursor: pointer;
	width: 30px;
	height: 25px;
	margin: auto;
	position: absolute;
	right: 30px;
	top: 0;
	bottom: 0;
}

.navlinks a {
	width: 300%;
	height: 100%;
}
.boton1 {
	background-color: #feffdb;
	width: 70%;
	height: 30%;
	padding: 5px;
	font-size: 18px;
	border-radius: 5px;
}

/* ______________________________________________________fin menu */
/* __________________________________________________eso */
.contTitle {
	width: 100%;
	height: 90px;
	margin-top: 20px;
}
.TitleEvent {
	font-size: 70px;
	text-align: center;
}

.ContTabs {
	position: relative;
	width: 95%;
	margin: 2em auto;
}
.tabs {
	list-style: none;
	display: flex;
	margin-bottom: 0;
}
.items {
	/* border: 1px solid linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
	line-height: 2.5;
	padding: 0 16px;
	position: relative;
	top: 1px;
	border-bottom: none;
	cursor: pointer;
	width: 25%;
	text-align: center;
	font-size: 25px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.active {
	background-color: #ccc;
	z-index: 20;
}

.panels {
	/* border: 1px solid linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
	padding: 1em;
	position: relative;
	z-index: 10;
	padding: 0;
}
.panel {
	position: absolute;
	margin-top: 20px;
	left: -1000%;
}

.panel.active {
	position: relative;
	left: 0;
	margin-top: 0;
}
/* ____________________________________________________fin de eso */
.contTarjetas {
	display: flex;
	justify-content: space-around;
}
.cardD {
	background-color: #ccc !important;
}
.btn-link {
	text-decoration: none !important;
	color: black !important;
}
.btnInfo {
	color: white;
	background-color: black !important;
}
/* ______________________________________________________footer */
footer {
	background: #202020;
	color: white;
	/* position: sticky;
	bottom: 0; */
}
.contContenedor {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 30px;
}
.containerBody {
	display: flex;
	justify-content: space-between;
}
.column1 {
	max-width: 400px;
	align-self: center;
}
.column1 a {
	text-decoration: none;
}
.column1 h1 {
	font-size: 80px;
	font-weight: 7;
	color: white;
}

.column1 span {
	color: #fdd100;
}

.column2 {
	max-width: 400px;
}
.column2 h1 {
	font-size: 22px;
}
.row {
	margin-top: 20px;
	display: flex;
}
.row img {
	width: 36px;
	height: 36px;
}
.row a {
	text-decoration: none;
	color: #c7c7c7;
	margin-top: 10px;
	margin-left: 10px;
}

.column3 {
	max-width: 400px;
}
.column3 h1 {
	font-size: 22px;
}
.row2 {
	margin-top: 20px;
	display: flex;
}
.row2 img {
	width: 36px;
	height: 36px;
}
.row2 a {
	text-decoration: none;
	margin-top: 10px;
	margin-left: 20px;
	max-width: 140px;
	color: white;
}

.containerBajo {
	width: 100%;
	background-color: yellow;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: #101010;
}
.copyright a {
	text-decoration: none;
	color: #c7c7c7;
	font-weight: bold;
}

.terminos a {
	text-decoration: none;
	color: #c7c7c7;
}
.row a:hover,
.row2 a:hover,
.column1 a:hover {
	text-decoration: none;
	color: #c7c7c7;
}

@media (max-width: 768px) {
	.contTarjetas {
		flex-direction: column;
	}
	/* _________________________________menu */
	.ContImgMenu {
		display: none;
	}
	.menu {
		display: none;
	}
	.buscador {
		justify-content: center;
		text-align: center;
		width: 100%;
	}
}
