* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.contTitle {
	width: 100%;
	height: 90px;
}
.TitleEvent {
	font-size: 70px;
	text-align: center;
}

.ContTabs {
	position: relative;
	width: 95%;
	margin: 2em auto;
}
.tabs {
	list-style: none;
	display: flex;
}
.items {
	border: 1px solid #ccc;
	line-height: 2.5;
	padding: 0 16px;
	background-color: #eee;
	position: relative;
	top: 1px;
	border-bottom: none;
	cursor: pointer;
	width: 20%;
}
.active {
	background-color: white;
	z-index: 20;
}

.panels {
	border: 1px solid #ccc;
	padding: 1em;
	position: relative;
	z-index: 10;
}
.panel {
	position: absolute;
	margin-top: 20px;
	left: -1000%;
}

.panel.active {
	position: relative;
	left: 0;
}
