* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html {
	scroll-behavior: smooth;
}

section {
	height: 700px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 40px;
}
section h2 {
	font-size: 50px;
	font-weight: 500;
	margin-bottom: 5px;
}

section p {
	font-weight: 300;
}

section img {
	height: 60%;
}
section a {
	display: inline-block;
	padding: 7px 5px;
	color:/*  #feffdb */ black;
	text-decoration: none;
	width: 110px;
	text-align: center;
	border: 1px solid #feffdb;
	border-radius: 50px;
	background-color: #feffdb;
	margin-top: 15px;
	transition: all 0.4s ease-in-out;
}

section a:hover {
	background-color: black;
	border: 1px solid black;
	color: #feffdb;
	transition: all 0.4s ease-in-out;
	transform: scale(1.1);
}

.sec1 {
	/* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
	
	background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}
.sec2 {
	/* background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%); */
	/* background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%); */
	/* background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%); */
	/* background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%); */
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.sec3 {
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
@media (max-width: 1000px) {
	section {
		flex-direction: column;
	}

	section img {
		height: 40%;
	}
}
@media (max-width: 768px) {
	section img {
		height: 30%;
	}
	.sec1 h2 {
		font-size: 30px;
		text-align: center;
	}
	section p {
		font-size: 13px;
	}
	.sec2 h2,
	.sec3 h2 {
		font-size: 30px;
	}
}
